{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  {% if loop.index == 1 or loop.index == 4 %}
    {%
      set row_classes = ['views-small views-small-left',]
    %}
  {% elseif loop.index == 2 or loop.index == 5  %}
    {%
      set row_classes = ['views-small views-small-right',]
    %}
  {% elseif loop.index == 3  %}
    {%
    set row_classes = ['views-big',]
    %}
  {% endif %}


    <div{{ row.attributes.addClass(row_classes) }}>
      {% if loop.index == 3 %}
        <p>name: {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ name }}'] }}</p>
        {% set photo = file_url(row['content']['#row']._entity.image.entity.fileuri) %}          
        <img src={{ photo }} class="chess_img">
        <p>age: {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ age }}'] }}</p>
      {% else %}
        <p>name: {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ name }}'] }}</p>
        <p>age: {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ age }}'] }}</p>
      {% endif %}
    </div>
{% endfor %}
{#<div  id="chess-view-content">#}
{#</div>#}
{#<div class="load_more_chess">#}
  {#<a href="/chess-view?page=1" id="load_more_chess">Load more</a>#}
{#</div>#}

